@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form method="post" class="box">
                    <h1>Success</h1>
                    <p class="text-muted">Please check your email to reset your password.</p>
                    <br />
                    <p>
                        <a id="resend-confirmation" asp-page="./Login">Go back to login</a>
                    </p>
                </form>
            </div>

        </div>
    </div>
</div>
