@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}




<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="box">
                    <h1>Register</h1>
                    <p class="text-muted"> Create a new account</p>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">

                        <input asp-for="Input.Email" type="email" placeholder="Email" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <input asp-for="Input.Username" type="text" placeholder="Username" />
                        <span asp-validation-for="Input.Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <input asp-for="Input.Password" type="password" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <input asp-for="Input.ConfirmPassword" type="password" placeholder="Confirm Password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Register" />
                    <br />
                    <div class="form-group">
                        <p>
                            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Go to Login</a>
                        </p>
                        <p>
                            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                        </p>
                        <p>
                            <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                        </p>
                    </div>


                </form>

               
            </div>

        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
