@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}




<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form method="post" class="box">
                    <h1>Success</h1>
                    <p class="text-muted">
                        Your password has been reset. Please <a asp-page="./Login">click here to log in</a>.
                    </p>


                    <br />
                </form>
            </div>

        </div>
    </div>
</div>
